doctype html
html
  head
    title Koa - next generation web framework for node.js
    link(rel='stylesheet', href='public/style.css')
    link(rel='stylesheet', href='public/icons/css/slate.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Italiana&subset=latin')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/github.min.css')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    script.
      window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
      window.analytics.load("9u0xff0b3k");
      window.analytics.page();
    script(src='stats.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js')
    script(src="https://embed.runkit.com", async, defer)
  body
    section#top
      #menu
        a#toggle(href='#'): i.icon-menu
        ul
          li: a(href='#introduction') Introduction
          li: a(href='#application') Application
          li: a(href='#context') Context
          li: a(href='#request') Request
          li: a(href='#response') Response
          li: a(href='#links') Links

      #heading
        #logo Koa
        #tagline next generation web framework for node.js

    section
      .content
        h1#introduction Introduction
        p.
          Koa is a new web framework designed by the team behind Express,
          which aims to be a smaller, more expressive, and more robust foundation
          for web applications and APIs. By leveraging async functions, Koa allows you
          to ditch callbacks and greatly increase error-handling. Koa does not bundle any
          middleware within its core, and it provides an elegant suite of methods that make
          writing servers fast and enjoyable.

    section
      .content
        include:markdown ../public/index.md

    section
      .content
        include:markdown ../public/context.md

    section
      .content
        include:markdown ../public/request.md

    section
      .content
        include:markdown ../public/response.md

    section
      .content
        h1#jobs Jobs
        p.
          Looking for work with an amazing tech company? Check out these positions.

        a(href='https://astro.netlify.com/automattic')
          img(src="https://astro.netlify.com/static/automattic.png")
        a(href='https://astro.netlify.com/segment')
          img(src="https://astro.netlify.com/static/segment.png")
        a(href='https://astro.netlify.com/auth0')
          img(src="https://astro.netlify.com/static/auth0.png")

    section
      .content
        h1#links Links
        p.
          Community links to discover third-party middleware for Koa, full runnable examples,
          thorough guides and more! If you have questions join us in IRC!

        ul
          li: a(href='https://github.com/koajs/koa') GitHub repository
          li: a(href='https://github.com/koajs/examples') Examples
          li: a(href='https://github.com/koajs/koa/wiki') Middleware
          li: a(href='https://github.com/koajs/koa/wiki') Wiki
          li: a(href='https://plus.google.com/communities/101845768320796750641') G+ Community
          li: a(href='https://groups.google.com/forum/#!forum/koajs') Mailing list
          li: a(href='https://github.com/koajs/koa/blob/master/docs/guide.md') Guide
          li: a(href='https://github.com/koajs/koa/blob/master/docs/faq.md') FAQ
          li: <strong>#koajs</strong> on freenode

